/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.thunder
composer.lock
package-lock.json

.vagrant/
*error_log*

*.log

snapshots/

vendor/

.DS_Store

/public/pages
/public/files
/public/dashboard
/public/keychain
/public/permissions
/public/helpers
Vagrantfile
public_html/wp-config.php

/public/contact

.vscode
testing.sqlite

.phpunit.result.cache

public/uploads